<html>

<head></head>

<body>
  <app-sidebar></app-sidebar>
  <app-header></app-header>
  <div style="margin-top: 5%;">
    <div class="c-body">
      <main class="c-main">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <!-- <app-dashboard></app-dashboard> -->
  <footer class="c-footer" style="margin-left: 15%; position:sticky; margin-right: 15%;">
    <div><a href="dashboard">Ecommerce</a> © 2021 Ecommerce.</div>
    <div class="ml-auto">Powered by <a href="#">Ecommerce</a></div>
  </footer>
</body>

</html>